/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f5fa;
    color: #333;
    line-height: 1.6;
}

/* Контейнер */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Заголовки */
h1 {
    margin: 0;
    font-size: 3em;
    color: #2d3e50;
    font-weight: bold;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 10px;
    color: #4a6a84;
}

/* Header */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Основной контент */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
}

/* Секция добавления медиа */
#add-media {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Формы */
.form-group {
    margin-bottom: 25px;
}

.form-group label {
    font-size: 18px;
    color: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.form-group select,
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

/* Кнопки */
.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Секция с контентом */
.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Стили карточек медиа */
.media-card {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    overflow: hidden;
}

.rating-box {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 50px;
    color: black;
}

.rating-red {
    background-color: #ff4d4d;
    /* Красный */
}

.rating-gray {
    background-color: #cccccc;
    /* Серый */
}

.rating-green {
    background-color: #32cd32;
    /* Зелёный */
}

.media-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* Кнопка на карточке */
.media-card button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.media-card button:hover {
    background-color: #218838;
}

.options-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #007BFF;
    transition: color 0.3s ease;
}

.options-btn:hover {
    color: #0056b3;
}

.options-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 11;
    padding: 10px;
}

.options-menu button {
    display: block;
    width: 100%;
    padding: 12px 16px;
    background: none;
    border: none;
    text-align: left;
    color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.options-menu button:hover {
    background-color: #f1f1f1;
}

.history-card {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    font-weight: normal;
    background-color: #fff;
    cursor: default;
    transition: none;
}

.history-card:hover {
    background-color: #fff;
    box-shadow: none;
    transform: none;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Элемент будет располагаться в верхней части окна */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding-top: 50px;
    /* Даем небольшой отступ сверху */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 550px;
    /* Уменьшаем ширину */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    overflow: auto;
    /* Для предотвращения переполнения */
    max-height: 80vh;
    /* Ограничиваем высоту окна */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Пространство между блоками */
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.modal-content .close:hover {
    color: #f44336;
}

.modal-content h2 {
    margin: 0;
    font-size: 24px;
    /* Увеличиваем размер заголовка */
    font-weight: 600;
    color: #333;
}

.modal-content p {
    margin: 5px 0;
    line-height: 1.5;
    font-size: 16px;
    color: #555;
}

.modal-content .info-label {
    font-weight: bold;
    /* Выделяем название параметров */
    margin-bottom: 5px;
}

.modal-content .info-item {
    margin-bottom: 10px;
    /* Убираем лишнее пространство между элементами */
}

.modal-content .info-item span {
    font-weight: normal;
    /* Убираем жирный стиль у значений */
}

.modal-content .status {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #007BFF;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Контейнер для поиска и сортировки */
.search-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

/* Стиль для поля поиска */
#search-bar {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* Стиль для поля поиска при фокусе */
#search-bar:focus {
    border-color: #3b82f6;
    outline: none;
}

/* Стиль для выпадающего списка сортировки */
#sort-by {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Стиль для выпадающего списка при фокусе */
#sort-by:focus {
    border-color: #3b82f6;
    background-color: #f0f8ff;
    outline: none;
}

/* Дополнительный стиль для выпадающего списка, чтобы он был в едином стиле */
#sort-by option {
    padding: 8px;
}

#media-type-filters {
    margin-top: 10px;
    margin-bottom: 20px;
}

#media-type-filters label {
    margin-right: 15px;
    font-size: 16px;
}

#media-type-filters input[type="checkbox"] {
    margin-right: 5px;
}

#media-type-filters label {
    font-size: 14px;
    font-weight: normal;
}


/* Всплывающее сообщение */
.form-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
}

.form-message.show {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
}

.form-message.error {
    background-color: #e74c3c;
}

.form-message.success {
    background-color: #2ecc71;
}

/* Эффект анимации ошибки */
.input-error {
    border: 2px solid #e74c3c;
    animation: shake 0.3s ease-in-out;
    outline: none;
    background-color: #ffe6e6;
}

/* Анимация для поля с ошибкой */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Канбан доска */
.kanban {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 0;
}

/* Колонка канбан */
.kanban-column {
    flex: 1;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    max-width: 320px;
    transition: background-color 0.3s ease;
}

.kanban-column:hover {
    background-color: #f1f1f1;
}

/* Заголовок колонки */
.kanban-column h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

/* Контейнер для элементов в колонке */
.kanban-items {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 15px;
}

/* Карточка на канбан доске */
.kanban-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: default;
    transition: none;
}

/* Цвета для разных типов задач */
.kanban-card.high-priority {
    border-left: 5px solid #e74c3c;
}

.kanban-card.medium-priority {
    border-left: 5px solid #f39c12;
}

.kanban-card.low-priority {
    border-left: 5px solid #2ecc71;
}

/* Стиль для кнопок внутри карточек */
.kanban-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.kanban-card button:hover {
    background-color: #0056b3;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-actions .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.save-btn {
    background-color: #4CAF50;
    color: #fff;
}

.cancel-btn {
    background-color: #f44336;
    color: #fff;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}